// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */
.links {
  table {
    border-collapse: collapse;
    width: 90%;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_link {
    width: 30%;
    font-size: 17px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

}